<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}

        {% if categories %}
            <h3>Top Categories:</h3>
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                    <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        {% if pages %}
            <h3>Top Pages:</h3>
            <ul>
                {% for page in pages %}
                <!-- Hyperlinks -->
                <li><a href="{{ page.url }}" >{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li></li><a href="{% url 'restricted' %}">Add a new Category</a></li>
                <li><a href="{% url 'logout' %}">Restricted Page</a></li>
                <li><a href="{% url 'add_category' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Register Here</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>


    </body>
</html>